.timerange{
    width: 100%;
    background-color: #141b2d;
    margin: 0 auto;
    // padding-top: 100px;
    padding-bottom: 10px;

    .timerange-container{
        width: 100%;
        max-width: 80vw;
        min-height: calc(100vh - 110px);
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .timerange-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;

            .timerange-info {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                // margin-left: 20px;
                .timerange-title {
                    font-size: 24px;
                    font-weight: bold;
                    color: whitesmoke;
                    text-align: left;
                }
                .timerange-description {
                    font-size: 16px;
                    line-height: 1.5;
                    color: #666;
                    text-align: justify;
                }
            }
            
            .timerange-header-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-right: 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }

            .form-container{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
    
                input {
                    border: none;
                    outline: none;
                    background: none,
                }
            }
        }
        
        .network-filter {
            width: fit-content;
            margin-bottom: 10px;
        }

        .network-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 50px;
        }
    }

    .arrow-left-tr{
        position: absolute;
        top:100px;
        left:2%;
        color:white;
        font-size:100px;
        cursor: pointer;
    }

    .arrow-right-tr{
        position: absolute;
        top:100px;
        right:2%;
        color:white;
        font-size:100px;
        cursor: pointer;

    }


}

// @media only screen and (max-width: 768px) {
//     .timerange{
//         .container-chart{
//             width: 600px;
//         }
//     }
    
//    }