.nodesPage{
    background-color:#263145;
    margin: 0 auto;
    padding-top: 80px;
}

.nodesPage-container{
    display: flex;
    justify-content:space-between;
    max-width: 80vw;
    margin: 0 auto;
}
