.project-page {
    $title-font-size: 24px;
    $title-font-weight: bold;
    $title-color: whitesmoke;
    $title-text-align: left;

    $description-font-size: 16px;
    $description-line-height: 1.5;
    $description-color: #666;
    $description-text-align: justify;
    background-color: #263145;
    
    margin: 0 auto;
    padding-top: 80px;

   .project-container {
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 100px;

    .project-title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $title-color;
        text-align: $title-text-align;
    }
    .project-description {
        font-size: $description-font-size;
        line-height: $description-line-height;
        color: $description-color;
        text-align: $description-text-align;
    }
   }
}