.project-page {
    $title-font-size: 24px;
    $title-font-weight: bold;
    $title-color: whitesmoke;
    $title-text-align: left;

    $description-font-size: 16px;
    $description-line-height: 1.5;
    $description-color: #666;
    $description-text-align: justify;
    background-color: #141b2d;
    
    margin: 0 auto;
    // padding-top: 100px;
    padding-bottom: 10px;
    min-height: calc(100vh - 154px);

    .button-dataset {
      background: #000000;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      padding: 10px 15px;
      transition: transform 100ms ease-out;
      
      &:hover {
          background: #414140;
          transform: scale(1.1);
      }
    }

    .title-timerange-top{
        margin-top: 20px;
    }
    

   .project-container {
        max-width: 80vw;
        margin: 0 auto;
        // margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .left{
            width: 70%

        }
        .project-header {
            width: 100%;

            .title-project{
                margin-bottom: 4px;
            }

            .small-date {
                font-size: 14px;
                color: #8df1d6;
                font-weight: 400;
                margin-bottom: 15px;
            }
            
            .head-center{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: space-between;
            }
        }

        .text-dataset{
            margin-left: 10px;
           }
   }

   .network-filter {
        width: fit-content;
        margin-bottom: 10px;
    }

    .network-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
   
    .width-element-top{
        width: 70%;
    }

   
    .tags{
        margin-top: 10px;
    }
}

.container-header-project{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

