.profilePage{
    background-color:#141b2d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profilePage-container{
    width: 650px;
    margin: auto;

}

.profile-title{
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
}

