.table-analyser{
margin:auto;
// padding:20px;
// min-height:100vh;
// max-width: 80%;
// font-size: 16px;
}

.table-container{
margin-top: 20px;
background:var(--widget);
overflow:hidden;
border-radius: 12px;
max-width: 70vw;
margin: 20px auto;
table{
  width:100%;
  color:#e0e0e0;
  font-family: Open Sans;
  

}
.table-header{
  overflow-x: scroll;
  text-transform: capitalize;
  &::-webkit-scrollbar {
    height: 0;
  }

}
.table-values{
  height:265px;
  overflow: overlay;
  tr:nth-of-type(odd){
    background:rgba(212, 212, 245, 0.139);
  }
  tr:nth-of-type(even){
    background:rgba(212, 212, 245, 0.071);
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar:horizontal{
    padding:20px;
  }
  &::-webkit-scrollbar-thumb {
    position: absolute;
    background: #888;
  }
  &::-webkit-scrollbar-corner{
    display: none;
    width:0px;
  }
}

tbody td{
  font-size: 12px;
  text-align: center;
  text-overflow: clip;
  overflow-x: hidden;
}

td{
  max-width: 120px;
  min-width: 120px;
  font-size: 12px;
  text-align: center;
  padding: 2.5px;
  overflow-y: hidden;
  overflow-x: ellipsis;

  .td-content{
    height:30px;
    overflow-x: ellipsis;

  }
}

.table-title{
  color:rgba(255, 255, 255, 0.829);
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
}