.display-graph {
    margin: 0 auto;

    .graph-container{
        box-shadow: 1px 2px 20px 2px #ffffff42;        
        margin: 0 auto;
        border-radius: 10px;
    }

    svg{
        color:rgb(0, 0, 0);
    }
    button{
        background-color: rgb(255, 255, 255);
        border-radius: 0;
    }

    .search{
        margin-top:10px;
        margin-right: 5px;
        z-index: 1;

    }

    .control-graph-nav{
        z-index: 1;
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        z-index: 100;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;

        .popup_inner {
            width: 40vw;
            background-color: #1d293f;
            padding: 20px;
            border-radius: 10px;
            position: relative;
            overflow: auto;
            text-align: left;
            box-shadow: 0px 2px 6px 1px #111111;
            color: #e0e0e0;
            
            .edge-popup__content__item{
                margin-top:20px;
            }
            h1 {
                font-size: 1.5em;
                line-height: 1.3em;
                font-weight: 200;
                margin-top: 0.67em;
                color: #70d8bd;
            }
            p {
                font-size: 1em;
                line-height: 1.3em;
                font-weight: 200;
                // margin-top: 0.67em;
            }
            button {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                cursor: pointer;
                font-size: 18px;
                margin-top: 10px;
                margin-right: 10px;
                color: gray;
                background-color: transparent;
                position: absolute;
                &:hover {
                    background-color: lightgray;
                    border-radius: 10%;
                    transform: none;
                }
                top: 0;
                right: 0;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            .title-edge-popup{
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .display-graph {
        .popup {
            width: 60vw;
            .popup_inner {
                width: 60vw;
            }
        }
    
}
}