

@mixin display-line-in-svg($stroke-width: 0) {
    @if $stroke-width == 1 {
        stroke-width: 0;
    } @else {
        stroke-width: $stroke-width;
    }
}


.community-evolution {
    width: 80vw;
    
    text {
        fill: white;
    }

    .node{
        fill: white;
    }
}
