.project-modal{
	.modal__backdrop {
	background: rgba(105, 105, 105, 0.65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
    padding-top: 110px
}

.modal__container {
	border-radius: 5px;
	max-width: 100%;
	margin: 0 auto;
	padding: 15px;
	height: 400px;
    width: 700px;
    position: relative;

}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: #000000;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 15px;
	transition: transform 100ms ease-out;
	
	&:hover {
		background: #414140;
		transform: scale(1.1);
	}
}

.close-modal{
    position: absolute;
    top:20px;
    right:20px;
	cursor: pointer;
}
}