.projects{
    background-color: #263145;
    // padding-top: 100px;
    padding-bottom: 10px;
    min-height: 100vh;
 
    .projects-container{
        max-width: 80vw;
        margin: 0 auto;
    }
    
    .cards-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}