
.name-cnt-conainer{
    display:flex;
    flex-wrap:wrap;
}
.name-cnt{
    margin-right:8px;
    padding:4px; 
    border-radius:5px;
}

.network-metrics {
    .chart-container {
        width: 100%;
    }
}