.legend-pie{ 
      line-height: 0.9em;
      color: #efefef;
      font-size: 12px;
      font-family: OpenSans-Light;
      padding: 10px 10px;
      float: left;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      margin: 5px 5px;
      margin-bottom: 10px;
      font-weight: 100;
      

      .text-label{
          color: white;
          margin-top: 5px;
          font-size: 19px;
          font-family: OpenSans-Light;
      }
    }