.pie-chart{
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #263145;
    .text-label{
        font-family: cursive;
    }
}