.pie-chart{
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2e344012;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 6px 0px;
    .text-label{
        // font-family: OpenSans-Light;
    }
}